.openModal {
    /*BOTÕES TELA INICIAL DE REMEDIOS*/
    width: 100%;
    padding: 10px;
    background-color: hsl(180, 100%, 97%,0.9);
    font-size: 15px;
}

body{
    background-color: #c9ffeb;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.toggleCollapse {
    /*BOTÕES DO COLLAPSE*/
    width: 100%;
    padding: 10px;

}

#conteudoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#conteudoRemedios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-content {
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.tituloCollapse{
    margin: 0;
    position: relative;
    bottom: 35px;
}

.collapse {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ccc;
}

#closeModal {
    align-items: center;
    border: 0;
    background-color: hsl(0, 0%, 100%, 0);
    position: absolute;
    top: 19px;
    right: -5px;

}

.close {
    margin: 0 auto;
    padding: 0;
    width: 45%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9ffeb;
    margin:0 ;
}
header{
    width: 100%;
    height: 10%;
    background-color: #b5fabc;
    text-align: center;
}
.logoenfer{
    padding: 8px;
    width: 85px;
display: flex;
    justify-content: flex-start;
}
.titleenfer{
margin: 0;
padding: 0;
position: absolute;
top: 15px;
left: 125px;
}

.search-container {
    margin: 5px;
    position: relative;
   
    width: 300px;
}

.search-container input {
    width: 100%;
    padding: 10px 35px 10px 10px; /* Espaço para o ícone */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Ajuste do tamanho do ícone */
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.search-container .search-icon:hover {
    opacity: 1; /* Ícone fica mais visível ao passar o mouse */
}

